body{
    margin:0px; 
    padding:0px;
}
#fl_menu{   
    position:absolute; 
    top:125px; 
    left:0px; 
    z-index:9999; 
    width:150px; 
    height:50px;
}
#fl_menu .label{
    padding-left:20px; 
    line-height:50px; 
    font-family:"Arial Black", Arial, Helvetica, sans-serif; 
    font-size:14px; 
    font-weight:bold; 
    background:#000; 
    color:#fff; 
    letter-spacing:7px;
}
#fl_menu .menu{display:none;}
#fl_menu .menu .menu_item{display:block; background:#000; color:#bbb; border-top:1px solid #333; padding:10px 20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-decoration:none;}
#fl_menu .menu a.menu_item:hover{background:#333; color:#fff;}

/* Style rules for 3 pane layout:*/
.sidebar {
    background-image:url('/static/images/gradient_blue.png');
    background-repeat: repeat-x;
    float: left;
    width: 20%;
    background-color: #FFFFFF;
    height: 40em;
}

.main {
    background-image: url('/static/images/gradient_blue.png');
    background-repeat: repeat-x;
    float: left;
    width: 60%;
    background-color: #FFFFFF;
    height: 40em;
}
